@page
<h1>Proxy Page</h1>

<label for="urlInput">Enter URL:</label>
<input type="text" id="urlInput" placeholder="Enter URL here">
<button onclick="fetchPage()">Fetch Page</button>

<hr>

<div id="responseContainer"></div>


<script>
    function fetchPage() {
        let urlInput = document.getElementById('urlInput').value;
        let encodedURL = encodeURIComponent(urlInput);
        let responseContainer = document.getElementById('responseContainer');

        fetch("/api/proxy?url=" + urlInput)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                responseContainer.innerHTML = data;
            })
            .catch(error => {
                responseContainer.innerHTML = `<p>Error: ${error.message}</p>`;
            });
    }
</script>